body{
    background-color: rgb(150, 209, 247);
}

header{
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
}

header h1{
    color: white;
}

h1,h2 {
    color: white;
    font-style: italic;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.keret{
    background-color: rgb(194, 233, 255);
    border: 1px solid black;
    border-radius: 10px;
}
#Fooldal{
    background-image: image();
}

.container,footer{
margin-top: 30px;
}


